.p-results {
	margin: 0px auto 0px;
	width: 960px;
	padding: 0 120px 18px 20px;
	position: relative;
	
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.p-results {
	height: 54px;
}

.p-results__header{
	font-size: 25px;
	font-weight: normal;
	margin: 0px;
	line-height: 36px;
	padding-top: 10px;
}

.p-results__header h1 a{
	color: #000;
	text-decoration: none;
}

.p-results__header h1 a:hover{
	text-decoration: underline;
}

.p-results__header-readonly {
    color: #aaa;
}

.p-results__header-help {
	position: absolute;
	right: 20px;
	top: 19px;
	font-size: 16px;
	font-style: normal;
    color: #ccc;
    text-decoration: none;
    line-height: 21px;
    border-radius: 3px;
    display: block;
    height: 20px;
    width: 18px;
    text-align: center;
    padding-left: 1px;
}

.p-results__header-help:hover {
    background: #eee;
    color: #aaa;
}

.p-results__header-readonly:hover {
    border-bottom: 1px dotted;
    cursor: help;
}

.p-results__layout {
	
}

.p-results__layout td {
    vertical-align: top;
}

.p-results__listcaptions td{
    height: 22px !important;	
}

.p-results__listcaption {
	height: 16px;
	margin-top: 6px;
	opacity: 0.5;
	font-size: 1.3em;
	width: 175px;
	text-align: left;
	margin-left: -1px;
}