.b-survey-closed {
	height: 40px;
	text-align: center;
	padding-top: 15px;
}

.b-survey-closed__plate {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background: #FFEFE8;
    border: 1px solid #E89B88;
}