/web/bundles/
/web/content/geograph/
/web/static/css
/web/static/js
/app/bootstrap.php.cache
/app/SymfonyRequirements.php
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/build/
/vendor/
/data/extra/

/-misc
/nbproject*
/.settings
/.project
/.buildpath
*.*~

.DS_Store
