.b-survey-map {
	background: #999;
	height: 180px;
	padding: 0;
	clear: right;
	left: 0 !important;
	position: relative;
	width: 100%;
	top: 18px;
	margin-bottom: 54px;
	overflow: hidden !important;
}