.b-photoresponsepattern {
	position: relative;
	width: 200px;
	height: 200px;
/*    width: 400px;
    height: 400px; */
}

.b-photoresponsepattern__hint {
    position: relative;
    height: 14px;
    font-size: 0.8em;
    color: #999;
}

.b-photoresponsepattern .baseline {
    stroke-width: 1;
    stroke: #c0d4f3;
}

.b-photoresponsepattern .answer {
	fill: none;
	opacity: 0.15;
	stroke-width: 4;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: black;
	cursor: pointer;
/* 	interpolate: basis; */
/* 	stroke-width: 12; */
}

.b-photoresponsepattern .answer.selected {
/*    opacity: 0.5 !important;*/
    stroke-width: 8;
/*     stroke-width: 20; */
}

.b-photoresponsepattern .photoResponses {
	
}

.b-photoresponsepattern .node {
    fill: black;
    opacity: 0;
    cursor: pointer;
}
.b-photoresponsepattern .edge {
    stroke: black;
    stroke-width: 14;
    opacity: 0;
    cursor: pointer;
}
/* 
 .b-photoresponsepattern .node {
    fill: black;
    opacity: 0.2;
    stroke: black;
    cursor: pointer;
}

.b-photoresponsepattern .node:hover,
.b-photoresponsepattern .edge:hover {
    opacity: 0.5;
}


.b-photoresponsepattern .edge {
    fill: none;
    opacity: 0.2;
    stroke-width: 14;
    stroke: black;
    cursor: pointer;
} */
