parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: pr_data_survey
    database_user: 
    database_password: 

	# these are not the tokens that are used on the production server ;-)
    locale: en
    secret: dd461dfe3d10c589f2ae3bccc445245b
    assets_version: v0

    database_path: null
    remember_me_token: 589f2ae3bccc445245bdd461dfe3d10c58
    remember_me_cookie: remember_me
    
    dropbox_user:
    dropbox_password: 
        
    ipinfodb_key: d31f03ca17c12c6dfd6de17c1d3ce41ee2e97a5bff83aeb7a63a60736