.b-survey-questionnaire {
	padding: 0;	
	margin: 0;
}

.b-survey-questionnaire__question {
	margin: 0 0 18px;
	min-height: 36px;
	list-style: none;
	display: block;
	overflow: visible;
	position: relative;
	padding-left: 20px;
}

.b-survey-questionnaire__question_current {
/*	background: url("/static/i/b-survey-questionnaire__question_current.png") no-repeat 0 0; */
}

.b-survey-questionnaire__questiontext {
	line-height: 16px;
	float: left;
	cursor: help;
}

.b-survey-questionnaire__questiontext_disabled {
	opacity: 0.4;
}

.b-survey-questionnaire__questionanswer {
	float: right;
	height: 18px;
	overflow: visible;
	position: relative;
}

.b-survey-questionnaire__questionhint{
	display: none;	
}
.b-survey-questionnaire__questionhint_active{
	background: #fffcd2 !important;
	color: #999;
	width: 320px;
	font-size: 14px !important;
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	border: 1px solid #999 !important;
	
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	-o-border-radius: .5em;
	border-radius: .5em;
	background: #fcfc80;
	
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}

.b-survey-questionnaire__questiontip .ui-tooltip-content {
	background: #fffcd2;
}