.b-survey-dashboard {
	position: absolute;
	width: 500px;
	overflow: auto;
	bottom: 18px;
	left: 20px;
}

.b-survey-dashboard__items {
	overflow: auto;
	max-height: 123px;
}

.b-survey-dashboard__item {
	color: #666;
	height: 17px;
	width: 17px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 2px;
	float: left;
	cursor: pointer;
	text-align: center;
}

.b-survey-dashboard__item.incomplete {
	background-color: #faf5b7;
	color: #bdbc89;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}
.b-survey-dashboard__item.incomplete:before {
	content: "!";
}

.b-survey-dashboard__item.complete {
	background-color: #afd3de;
	color: #50a5c1;
	font-size: 13px;
	line-height: 21px;
	width: 15px;
	padding-left: 2px;
}
.b-survey-dashboard__item.complete:before {
	content: "✓";
}

.b-survey-dashboard__item.current {
	cursor: default;
	border-color: #737373;
}
/*.b-survey-dashboard__item.current:before {
	content: "•";
}*/
