.b-survey-photo {
	height: 600px;
}
.b-survey-photo_nomap {
	height: auto;	
}

.b-survey-photo__info {
	display: block;
	margin: -15px -15px 30px;
	padding: 15px;
	float: left;
	overflow: hidden;
	text-decoration: none;
	color: #000;
	border-radius: 10px;
	position: relative;
}

.b-survey-photo__info span {
	opacity: 0.6;
}

.b-survey-photo__info:hover {
	background: #eee;
}

.b-survey-photo__info:hover span {
	opacity: 1;
}

.b-survey-photo__photo {
	display: block;
	min-height: 100px;
	min-width: 100px;
	max-width: 500px;
	max-height: 420px;
}

.b-survey-photo__title {
	display: block;
	float:left;
	margin-right: -1000px;
	white-space: nowrap;
	max-width: 100%;
}

.b-survey-photo__description {
	display: block;
	white-space: nowrap;
	max-width: 100%;
}
.b-survey-photo__timestampanduser {
	color: #888;
	font-size: 10px;
	line-height: 14px;
	float: left;
	height: 0;
	overflow: visible;
	white-space: nowrap;
	
}
.b-survey-photo__loading {
	text-align: center;
	padding-top: 150px;
}
.b-survey-photo__error {
	color: #f00;
	margin: auto;
	padding-top: 150px;
	text-align: center;
	width: 60%;
}

.b-survey-photo__logo {
	position: absolute;
	display: block;
	right: 17px;
	bottom: 15px;
	width: 120px;
	height: 30px;
	background: url("/static/i/b-survey-photo__logo.png") no-repeat right 30px;
	opacity: 0.2;
}

.b-survey-photo__logo.flickr {
	background-position: right -30px;
}
.b-survey-photo__logo.panoramio {
	background-position: right 0px;
}

.b-survey-photo__info.b-survey-photo__logo {
	opacity: 1;
}


/* small version of the photo - on the results page */
.b-survey-photo_small {
    float: right;
    height: 300px;
    padding: 10px 15px 15px;
}
.b-survey-photo_small .b-survey-photo__photo {
    min-height: 100px;
    min-width: 100px;
    max-width: 500px;
    max-height: 215px;
}
.b-survey-photo_small .b-survey-photo__loading {
    padding-top: 0px;
}
.b-survey-photo_small .b-survey-photo__error {
    padding-top: 0px;
    text-align: center;
/*    width: 200px;
*/}

.b-survey-photo_small .b-survey-photo__timestampanduser {
	float: right;
}
.b-survey-photo__faces-wrap {
    position: absolute;
    top: 15px;
    left: 15px;
    overflow: hidden;
}

.b-survey-photo__faces {
    position: absolute;
	top: 0px;
    left: 0px;
}

.b-survey-photo__face {
    position: absolute;
    border: 1px solid;
    cursor: pointer;
}
.b-survey-photo__face:hover {
	background: rgba(255,255,255, .2);
}

.b-survey-photo__faces_editable  {
	cursor:crosshair;
}

.b-survey-photo__faces_editable .b-survey-photo__face {
	cursor: default;
}