{%  extends 'PhotoAssessmentBundle:Components/layouts:base.html.twig' %}

{% block title %}{{ 'title' | trans }}{% endblock %}

{% block body_modif %} class="p-index"{% endblock %}

{% block body %}
		<h1 class="b-index-header">{{ 'title' | trans }}</h1>
		<div class="b-index-"></div>
{% endblock body %}