.b-infolist {
	position: relative;
	min-height: 200px; 
	max-height: 500px; 
}

.b-infolist_user {
	width: 300px;
}

.b-infolist_photo {
    width: 700px;
}

/* sorters */
.b-infolist__sorters {
	
}

.b-infolist__sorter {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    color: #009;
    cursor: pointer;
    background: no-repeat right 0.5em;
	opacity: .6;
}
.b-infolist__sorter:hover {
	opacity: 1;
}
.b-infolist__sorter.descending,
.b-infolist__sorter.ascending {
    color: #000;
}
.b-infolist__sorter.ascending {
    background-image: url("data:image/gif;base64,R0lGODlhBwAEAIABAKydhf///yH5BAEAAAEALAAAAAAHAAQAAAIHjGEJq8sOCwA7");
}
.b-infolist__sorter.descending {
	background-image: url("data:image/gif;base64,R0lGODlhBwAEAIABAKydhf///yH5BAEAAAEALAAAAAAHAAQAAAIIhA+BGWoNWSgAOw%3D%3D");
}

.b-infolist__sorter i {
    display: block;
    float: left;
    border-bottom: 1px dotted;
    height: 1.1em;
}

/* percentage */
.b-infolist__percentage {
	float: right;
	color: #ccc;
	padding-right: 14px;
}

/* items */
.b-infolist__items {
	position: absolute;
	top: 20px;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
}

.b-infolist_disabled-thumbnails .b-infolist__item {
	background-image: none !important;
}

.b-infolist__item {
	color: #666;
	height: 17px;
	width: 17px;
	float: left;
	border: 1px solid #ccc;
	float: left;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
    color: rgba(0,0,0,0.3);
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
}

.b-infolist__item.photo_problem {
}
.b-infolist__item.photo_problem:before {
	content: "•";
}
.b-infolist__item.photo_problem_severe {
    color: rgba(0,0,0,1);
}

.b-infolist__item.unread {
	-webkit-box-shadow: inset 0px 0px 3px 2px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 3px 2px rgba(255, 255, 255, 1);
}
.b-infolist__item.unread:before {
}

.b-infolist__item.highlighted {
	border-color: #666;
    border-radius: 2px;
    border-width: 2px;
    height: 15px;
    width: 15px;
    line-height: 16px;
    background-position: 0px 0px;
}

.b-infolist__item.current {
    border-color: #333;
    border-radius: 2px;
    border-width: 2px;
    height: 15px;
    width: 15px;
    line-height: 16px;
    background-position: 0px 0px;
}

.b-infolist__resize-blind {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0,0,0,0);
}

.b-infolist__tooltip {
    background: #fffcd2 !important;
    margin: 0;
    color: #999;
    font-size: 14px !important;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    border: 1px solid #999 !important;
    
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    -o-border-radius: .5em;
    border-radius: .5em;
    background: #fcfc80;
    
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
}