.b-infolist {
	position: relative;
	min-height: 200px; 
	max-height: 500px; 
}

.b-infolist_user {
	width: 300px;
}

.b-infolist_photo {
    width: 700px;
}

.b-infolist__items {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
}

.b-infolist__item {
	color: #666;
	height: 17px;
	width: 17px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 2px;
	float: left;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
}

.b-infolist__item.complete:before {
	content: "✓";
}

.b-infolist__item.photo_problem {
	color: rgba(0,0,0,0.3);
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}
.b-infolist__item.photo_problem:before {
	content: "!";
}
.b-infolist__item.photo_problem_severe {
    color: rgba(0,0,0,1);
}

.b-infolist__item.current {
	border-color: #737373;
}

.b-infolist__resize-blind {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0,0,0,0);
}

.b-infolist__tooltip {
    background: #fffcd2 !important;
    color: #999;
    font-size: 14px !important;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    border: 1px solid #999 !important;
    
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    -o-border-radius: .5em;
    border-radius: .5em;
    background: #fcfc80;
    
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
}