.b-photomap {
    position: absolute;
    width: 220px;
    height: 200px;
    margin: 10px 0 0 10px;
}

.b-photomap__map {
	background: url("/static/i/b-photomap.png") no-repeat center center;
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.b-photomap__points-container {
	z-index: 1;
    position:absolute;
    top: 0;
    left: 0;

}

.b-photomap .points rect {
    z-index: 10;
	fill: #bbb;
}
.b-photomap .points rect.highlighted {
    z-index: 20;
    fill: #888;
}
.b-photomap .points rect.selected {
	z-index: 100;
    fill: #000;
}

.b-photomap__mouse-handler {
	z-index: 200;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.b-photomap__copyright {
    color: #888;
    font-size: 10px;
    line-height: 14px;
    position: absolute;
    right: 0;
    top: 200px;
    opacity: 0.6;
    overflow: visible;
    white-space: nowrap;
    
}

.b-photomap__copyright_visibility_hidden {
	display: none;
}
