<IfModule mod_rewrite.c>
	RewriteEngine On

	############
	#redirecting from non-www domain to domain with www
	############
	RewriteCond %{HTTP_HOST} !^(www\.)
	RewriteCond %{HTTP_HOST} [a-z]+
	RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
	
	############
	#redirecting from https to http
	############
	RewriteCond %{SERVER_PORT} ^443$
	RewriteCond %{HTTP_HOST} ^(.*)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
	
	############
	#Removing multiple slashes
	############
	RewriteCond %{REQUEST_URI} ^(.*)//(.*)$
	RewriteRule . %1/%2 [R=301,L]
	
	############
	#inde.xxx → /
	############
	RewriteCond %{REQUEST_URI} ^/index\.([a-zA-Z]+)$
	RewriteRule ^(.*)$ / [R=301,L]

	############
	#deny all files and folders that start with a dot
	############
	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteCond %{REQUEST_URI} ^(.*/)?\.(.*)
	RewriteRule ^(.*)$ - [F]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ p_app.php [QSA,L]
</IfModule>
